table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
  }
  table tr:nth-child(odd) {
    padding: 10px;
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }